body {
    font-family: "Outfit", serif;
}

header, .container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.drawing-canvas {
    display: block;
    border: 2px solid #000;
    border-radius: 4px;
    width: 80%;
    height: 68vh;
    margin: 0 auto 30px;
    cursor: crosshair;
}

.btn {
    padding: 8px 16px;
    background-color: saddlebrown;
    color: whitesmoke;
    border: none;
    font-family: "Outfit", serif;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}